@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242, 242, 242);
}

/* navbar */
.navbar {
    background-color: #003d1f;
    padding: 25px 60px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

    .navbar__header {
        color: white;
    }

    .navbar__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        text-transform: uppercase;
    }
}


.cart {
    border: 1px solid lightgray;
    background-color: white;
    color: #141301;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    position: fixed;
    bottom: 20px;
    right: 20px;
}


.cart__amount {
    position: absolute;
    bottom: 5px;
    right: 2px;
    padding: 1px 5px 1px;
    border-radius: 50%;
    color: whitesmoke;
    background-color: red;
    font-size: 13px;
}

/* shop items */
.shop {
    margin: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;

    .shop__item {
        /* border: 1px solid rgb(247, 247, 247); */
        background-color: #fff;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

        img {
            width: 100%
        }
    }



    .shop__details {
        display: flex;
        flex-direction: column;
        padding: 15px;
        height: 47%;
        /* gap: 20px; */

        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            margin-bottom: 15px;
        }

        p {
            color: rgb(141, 141, 141);
            font-weight: 300;
            font-size: 15px;
            margin-bottom: 15px;
        }

        .price-quantity {
            display: flex;
            justify-content: space-between;
            place-items: center;
            margin-top: auto;

            h2 {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 1120px) {
    .shop {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 680px) {
    .shop {
        grid-template-columns: repeat(1, 400px);
    }
}

.buttons {
    display: flex;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;

    .quantity {
        cursor: auto;
    }
}

/* Cart */

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeBtn,
.checkout,
.removeAll {
    background-color: #141301;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

.bi-x-lg {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
}

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
    gap: 5px;
}

.cart-item {
    position: relative;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.title-price-x {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    /* background-color: #141301;
    color: white; */
    font-weight: 700;
    padding: 3px;
    border-radius: 4px;
}

.bi-x-lg {
    cursor: pointer;
}

.checkout {
    background-color: green;
}

.removeAll {
    background-color: red;
}

.buttons-cart {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;

    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 22px;
    }

    .quantity {
        cursor: auto;
    }
}